* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 49, 54);
}

#root {
  height: 100%;
  flex: 1;
  max-height: 969px;
  max-width: 1920px;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {

  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(54, 57, 63);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(64, 68, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #656b7e;
}
